# ====NEON DATABASE URL====
DATABASE_URL=


# ====BETTER AUTH=====
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 

# Comma-separated emails allowed to register (assigned admin role)
ADMIN_EMAILS=


# ====NEXT PUBLIC APP URL====
NEXT_PUBLIC_APP_URL=



